---
import Layout from '../layouts/Layout.astro';
import Start from '../components/Start.astro';
import Interview from '../components/Interview.astro';
import Consume from '../components/Consume.astro';
import Fonts from '../components/Fonts.astro';
import Health from '../components/Health.astro';
import Environment from '../components/Environment.astro';
import ODS from '../components/ODS.astro';
import Alternatives from '../components/Alternatives.astro';
import Video from '../components/Video.astro';
import Webgraphy from '../components/Webgraphy.astro';

---

<Layout title="Transporte">
	<Start/>
	<Interview/>
	<Consume/>
	<Fonts/>
	<Health/>
	<Environment/>
	<ODS/>
	<Alternatives/>
	<Video/>
	<Webgraphy/>
	<div class="w-full h-[20vh]"></div>
</Layout>

<style>

</style>
