---
import Layout from '../layouts/Layout.astro';
import Start from '../components/Start.astro';
import Interview from '../components/Interview.astro';
import Consume from '../components/Consume.astro';
import Fonts from '../components/Fonts.astro';
import Health from '../components/Health.astro';

---

<Layout title="Transporte">
	<Start/>
	<Interview/>
	<Consume/>
	<Fonts/>
	<Health/>

	<div class="w-full h-[20vh]"></div>
</Layout>

<style>

</style>
