<section id="alternatives">
    <div class="flex flex-col items-center justify-center text-center p-10">
        <h1 class="font-bold text-5xl text-balance text-opacity-30 animated">
            —
            <br>ALTERNATIVAS<br> 
            —
        </h1>
        <h3 class="font-normal text-2xl text-pretty text-white text-opacity-80 mt-6 animated text-left">
            Alternativas que sugerimos:
            <ul class="text-white text-opacity-95 mt-10 flex flex-col gap-3">
                <li><span class="font-bold">- Uso de vehículos eléctricos</span>, los cuales contaminan alrededor de un 65% menos que los de combustibles fósiles</li>
                <li><span class="font-bold">- Poner carriles bici</span>, para así poder facilitar el transporte en bici por Alcalá como se ha hecho en ciudades como es Sevilla.</li>
                <li><span class="font-bold">- Abaratar el precio del transporte público</span>, para que así, se use más en vez de cualquier otro vehículo</li>
                <li><span class="font-bold">- Compartir vehículo, para ir a un sitio</span>, así podrías ahorrar combustible aparte de evitar la contaminación de la quema de combustible fósil</li>
            </ul>
        </h3>
    </div>
</section>