<section id="consume"
    <div class="flex flex-col items-center justify-center text-center p-10">
        <h1 class="font-bold text-5xl text-balance animated">
            —
            <br>CONSUMO<br> 
            —
        </h1>
        <h2 class="font-normal text-2xl text-pretty text-white text-opacity-80 mt-6 animated">Tras investigar un poco, hemos descubierto algunos datos sobre el consumo de cada vehículo:</h2>
        <div class="w-full flex justify-between mt-16 animated">
            <div class="p-8 py-5 box-border text-left flex flex-col gap-10 items-center justify-center w-full">
                <h3 class="text-2xl font-bold text-blue-500 flex gap-3 text-center items-center gas h-auto w-full">
                    <img src="gas-can.svg" alt="Imagen de una lata de gasolina">
                    Coche de combustible fósil
                </h3>
                <p class="text-xl text-white text-opacity-90 text-pretty">Estos coches, son los que más consumen, según varias busquedas, hemos averiguado que contamina aproximadamente, unos <span class="text-opacity-100 text-blue-300">120 g/km</span>.</p>
            </div>
        </div>
        <div class="w-full flex justify-between mt-16 animated">
            <div class="p-8 py-5 box-border text-left flex flex-col gap-10 items-center justify-center w-full">
                <h3 class="text-2xl font-bold text-blue-500 flex gap-3 text-center items-center gas h-auto w-full">
                    <img src="electric.svg" alt="Imagen de un rayo de electricidad">
                    Coche eléctrico
                </h3>
                <p class="text-xl text-white text-opacity-90 text-pretty">Estos coches, son alrededor de un 60% menos contaminantes que los coches de gasolina, estos, contaminan alrededor de <span class="text-opacity-100 text-blue-300">18 toneladas de C02 al fabricarse la batería</span>.</p>
            </div>
        </div>
        <div class="w-full flex justify-between mt-16 animated">
            <div class="p-8 py-5 box-border text-left flex flex-col gap-10 items-center justify-center w-full">
                <h3 class="text-2xl font-bold text-blue-500 flex gap-3 text-center items-center gas h-auto w-full">
                    <img src="bus.svg" alt="Imagen de un autobús">
                    Autobús
                </h3>
                <p class="text-xl text-white text-opacity-90 text-pretty">Estos vehículos son una buena opción si debes de desplazarte lejos, ya que tiene capacidad para varias personas, por lo que contamina menos, aproximadamente unos <span class="text-opacity-100 text-blue-300">96,6 g/km</span>.</p>
            </div>
        </div>
        <div class="w-full flex justify-between mt-16 animated">
            <div class="p-8 py-5 box-border text-left flex flex-col gap-10 items-center justify-center w-full">
                <h3 class="text-2xl font-bold text-blue-500 flex gap-3 text-center items-center gas h-auto w-full">
                    <img src="motorcycle.svg" alt="Imagen de una moto">
                    Moto
                </h3>
                <p class="text-xl text-white text-opacity-90 text-pretty">Estos vehículos contaminan bastante y además no existen opciones eléctricas, las cuales contaminan menos, estos vehículos contaminan alrededor de <span class="text-opacity-100 text-blue-300">53 g/km</span>.</p>
            </div>
        </div>
        <h2 class="font-normal text-2xl text-pretty text-blue-200 text-opacity-95 mt-12 animated">Con estos datos podemos ver que son muy contaminantes todos los vehículos en general, pero el menos contaminante es el autobús, ya que un autobús tiene una capacidad media de 50 personas, lo que estaría reduciendo las emisiones por 50, ya que esas personas no contaminan yendo cada uno en su vehículo propio, entre todos gastan  tan solo 96 g/km, en lugar de 6000 g/km.</h2>
    </div>
</section>

<style>
    @media screen and (max-width: 585px) {
        section {
            padding: 0;
        }
        div {
            padding: 1rem;
        }
    }
</style>

