<section id="fonts">
    <div class="flex flex-col items-center justify-center text-center p-10">
        <h1 class="font-bold text-5xl text-balance text-opacity-30 animated">
            —
            <br>FUENTES<br> 
            —
        </h1>
        <h3 class="font-normal text-2xl text-pretty text-white text-opacity-90 mt-6 animated text-left">
            La principal fuente de contaminación de un vehículo es el 
            <img src="engine.svg" alt="Icono de un motor" style="display: inline; vertical-align: middle;">
            <span class="text-blue-300">motor</span>, ya que al quemar el combustible, por el tubo de escape salen partículas de
            <img src="atom.svg" alt="Icono de un átomo" style="display: inline; vertical-align: middle;">
            <span class="text-green-300">CO2</span> y otros gases contaminantes.<br>
            Hay un bulo popular, el cual dice que los vehículos 
            <span class="text-yellow-300">eléctricos</span> o 
            <span class="text-yellow-300">híbridos</span> no contaminan, aunque no es así, la realidad es que estos vehículos, necesitan una 
            <span class="text-red-500">carga eléctrica</span>, la cúal, muchas veces no sale de fuentes de energía renovables. Por lo tanto también 
            <span class="text-neutral-50 text-opacity-100">"contaminan"</span>.
        </h3>
        <a href="https://www.renault.es/blog/trucos-consejos/cuanto-contamina-coche-electrico.html#cuanto" target="_blank" class="w-full h-96 bg-transparent rounded-lg mt-20 border-white border-4 flex justify-center items-center transition-all duration-300 hover:text-blue-300 hover:border-blue-300 hover:scale-105">
            <div class="text-4xl text-center font-bold text-opacity-90">
                Noticia acerca de la contaminación de los vehículos eléctricos
            </div>
        </a>
    </div>
</section>