<header>
    <nav class="top-5 fixed flex justify-evenly items-center w-fit p-2 bg-[#232234] bg-opacity-80 rounded-full backdrop:filter backdrop-blur-sm left-1/2 transform -translate-x-1/2 z-20">
        <ul class="flex items-center justify-evenly">
            <li><a href="#">Inicio</a></li>
            <li>Secciones
                <ul class="rounded-lg z-30">
                    <li><a href="#interview">Encuestas</a></li>
                    <li><a href="#consume">Consumo</a></li>
                    <li><a href="#fonts">Fuentes</a></li>
                    <li><a href="#health">Salud</a></li>
                    <li><a href="#enviroment">Medioambiente</a></li>
                    <li><a href="#ODS">ODS</a></li>
                    <li><a href="#alternatives">Alternativas</a></li>
                </ul>
            </li>
            <li><a href="#video">Vídeo</a></li>
            <li><a href="#webgraphy">Webgrafía</a></li>
        </ul>
    </nav>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const secciones = document.querySelector('.secciones');
            const submenu = document.querySelector('.submenu');

            secciones.addEventListener('click', function(event) {
                event.preventDefault();
                submenu.classList.toggle('submenu-visible');
            });

            // Cerrar el submenú al hacer clic en cualquier otro lugar
            document.addEventListener('click', function(event) {
                if (!secciones.contains(event.target)) {
                    submenu.classList.remove('submenu-visible');
                }
            });
        });
    </script>
</header>

<style>
    li {
        border-radius: 9999px;
        transition: 0.3s;
        padding: 8px;
        cursor: pointer;
        font-weight: bold;
        color: rgb(221, 221, 221);
    }

    ul {
        list-style: none;
        margin:0;
        padding:0;
    }

    ul ul {
        display:none;
        position:absolute;
        top:110%;
        left:0;
        background:#191924;
        padding:0;
    }

    ul ul li {
        float:none;
        width:140px
    }

    ul li:hover > ul {
        animation: appearSubMenu .2s ease-in-out;
        display:block;
    }

    ul ul li:hover {
        transform: scale(1);
        color: #c9f2ff;
    }

    li:hover {
        color: rgb(255, 255, 255);
        transform: scale(1.05);
    }
    @keyframes appearSubMenu {
        from {
            opacity: 0;
            transform: scale(0.8);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }
    .submenu-visible {
        display: block;
    }
</style>




