<section id="health">
    <div class="flex flex-col items-center justify-center text-center p-10">
        <h1 class="font-bold text-5xl text-balance text-opacity-30 animated">
            —
            <br>SALUD<br> 
            —
        </h1>
        <h3 class="font-normal text-2xl text-pretty text-white text-opacity-90 mt-6 animated text-left">
            Los principales problemas que causan la combustión de la gasolina son irritación ocular, tos, secreción mucosa, asma y bronquitis. 
            Esta producción de CO2, produce cambios en el medio ambiente, y uno de los principales problemas de esta emisión, es el calentamiento global, el cúal nos produce muchos problemas en la salud, como por ejemplo: aumentan las complicaciones de las 
            enfermedades cardíacas y respiratorias subyacentes, como el asma, la insuficiencia renal y los partos prematuros.
        </h3>
    </div>
</section>