<section id="health">
    <div class="flex flex-col items-center justify-center text-center p-10">
        <h1 class="font-bold text-5xl text-balance text-opacity-30 animated">
            —
            <br>SALUD<br> 
            —
        </h1>
        <h3 class="font-normal text-2xl text-pretty text-white text-opacity-90 mt-6 animated text-left">
            Los principales <span class="text-red-500">problemas</span> que causan la combustión de la <span class="text-orange-400">gasolina</span> son: <br> <span class="text-white text-opacity-100 font-bold">irritación ocular , tos, secreción mucosa, asma y bronquitis</span>.<br> 
            Esta producción de <span class="text-green-500">CO2</span>, produce cambios en el <span class="text-green-300">medio ambiente</span>, y uno de los principales problemas de esta emisión, es el <span class="text-yellow-300">calentamiento global</span>, el cúal nos produce muchos problemas en la <span class="text-red-500">salud</span>, como por ejemplo: <span class="text-white text-opacity-100 font-bold">aumentan las complicaciones de las 
            enfermedades cardíacas y respiratorias subyacentes, como el asma, la insuficiencia renal y los partos prematuros</span>.
        </h3>
    </div>
</section>