<section id="ODS">
    <div class="flex flex-col items-center justify-center text-center p-10">
        <h1 class="font-bold text-5xl text-balance text-opacity-30 animated">
            —
            <br>ODS<br> 
            —
        </h1>
        <h3 class="font-normal text-2xl text-pretty text-white text-opacity-90 mt-6 animated text-left">
            Uno de los objetivos de las ODS, es <span class="font-bold italic text-white cursor-pointer"><a href="https://www.pactomundial.org/ods/13-accion-por-el-clima/" target="_blank">“Acción por el Clima”</a></span>, la número <span class="text-green-400 font-bold">13</span>, la cúal está relacionada directamente con la emisión de <span class="text-yellow-300">CO2</span>, esta ODS, una de los problemas que sugiere, es el uso de <span class="text-blue-400">coches eléctricos</span>.
        </h3>
    </div>
</section>