<section class="h-[85vh] flex flex-col items-center justify-between">
    <div class="h-[25%]"></div>
    <div class="h-[70%]">
        <h1 class="font-bold text-7xl text-balance">¿Cómo afecta el transporte al medioambiente?</h1>
        <h2 class="font-normal text-2xl text-pretty mt-24 opacity-80">Este trabajo lo hemos realizado para concienciar a las personas del impacto de los transportes que se usan para llegar al instituto sobre el medioambiente.</h2>
    </div>
    <div class="flex mx-auto h-[5%]">
        <img class="" src="arrow-down.svg" alt="Flecha indicando que se puede scrollear">
    </div>
</section>

<style>
    img {
        animation: arrowAnimation .6s ease-in-out infinite;
        background: #000;
        /* el width debe ser igual al height */
        width: 50px;
        height: 50px;
        padding: 10px;
        border-radius: 50%;
        aspect-ratio: 1/1;
    }

    @keyframes arrowAnimation {
        0%,100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(10px);
        }
    }

    @media screen and (max-width: 585px) {
        h1 {
            font-size: 2.5rem;
        }
        h2 {
            font-size: 1.5rem;
        }
    }
</style>