<section id="video">
    <div class="flex flex-col items-center justify-center text-center p-10">
        <h1 class="font-bold text-5xl text-balance text-opacity-30 animated">
            —
            <br>VIDEO<br> 
            —
        </h1>
        <a id="img" class="w-full h-[30rem] rounded-lg mt-20" href="https://www.youtube.com/watch?v=DdFPypUQCvA&ab_channel=BrunoBlancoPerez" target="_blank"></a>
    </div>
</section>

<style>
    #img {
        background-image: url("https://imagenes.elpais.com/resizer/v2/BF2ZYM52RVEH3MEIJ4R3ETUHGA.jpg?auth=9f4c7d173d40fc1dbdd6c53e0122b0f4a2d56c03735035df65c225b10d97aa3f&width=414&height=233&focal=2193%2C1103");
        background-repeat: no-repeat;
        background-size: cover;
    }

    @media (max-width: 610) {
        iframe {
            width: 100%;
        }
    }
</style>