<section id="webgraphy">
    <div class="flex flex-col items-center justify-center text-center p-10">
        <h1 class="font-bold text-5xl text-balance text-opacity-30 animated">
            —
            <br>WEBGRAFÍA<br> 
            —
        </h1>
        <h3 class="font-normal text-2xl text-pretty text-white text-opacity-90 mt-6 animated text-left">
            Aquí puedes encontrar los enlaces a las fuentes de información que hemos utilizado para el desarrollo de esta página web:
        </h3>
        <div class="mainC flex flex-col items-start w-full px-20">
            <h2 class="font-bold text-3xl text-pretty text-blue-500 mt-6 animated text-left">Consumo</h2>
            <a href="https://www.motorpasion.com/coches-electricos/como-se-calculan-emisiones-co2" target="_blank" class="font-normal text-2xl text-pretty text-white text-opacity-80 mt-6 animated text-left transition-all duration-100 hover:text-opacity-100">- Cuánto consume cada vehículo</a>

            <h2 class="font-bold text-3xl text-pretty text-blue-500 mt-6 animated text-left">Fuentes</h2>
            <a href="https://www.mme-eic.com/post/cu%C3%A1nto-contamina-un-coche-el%C3%A9ctrico" target="_blank" class="font-normal text-2xl text-pretty text-white text-opacity-80 mt-6 animated text-left transition-all duration-100 hover:text-opacity-100">- Qué partes del coche contaminan</a>
            <a href="https://www.mme-eic.com/post/cu%C3%A1nto-contamina-un-coche-el%C3%A9ctrico" target="_blank" class="font-normal text-2xl text-pretty text-white text-opacity-80 mt-6 animated text-left transition-all duration-100 hover:text-opacity-100">- ¿Es cierto que el coche eléctrico no contamina?</a>

            <h2 class="font-bold text-3xl text-pretty text-blue-500 mt-6 animated text-left">Salud</h2>
            <a href="https://www.toyota.es/world-of-toyota/articles-news-events/2019/efectos-contaminacion-salud-toyota" target="_blank" class="font-normal text-2xl text-pretty text-white text-opacity-80 mt-6 animated text-left transition-all duration-100 hover:text-opacity-100">- ¿Qué efectos en la salud tienen los vehículos?</a>
            <a href="https://www.bbva.com/es/sostenibilidad/que-es-el-dioxido-de-carbono-co2-y-como-impacta-en-el-planeta/" target="_blank" class="font-normal text-2xl text-pretty text-white text-opacity-80 mt-6 animated text-left transition-all duration-100 hover:text-opacity-100">- ¿Cómo afecta el CO2 al planeta?</a>
        
            <h2 class="font-bold text-3xl text-pretty text-blue-500 mt-6 animated text-left">Efectos</h2>
            <a href="https://www.nationalgeographic.es/medio-ambiente/explicacion-que-son-combustibles-fosiles" target="_blank" class="font-normal text-2xl text-pretty text-white text-opacity-80 mt-6 animated text-left transition-all duration-100 hover:text-opacity-100">- Efectos de los combustibles fósiles</a>
            
            <h2 class="font-bold text-3xl text-pretty text-blue-500 mt-6 animated text-left">ODS</h2>
            <a href="https://www.pactomundial.org/ods/13-accion-por-el-clima/" target="_blank" class="font-normal text-2xl text-pretty text-white text-opacity-80 mt-6 animated text-left transition-all duration-100 hover:text-opacity-100">- ODS 13</a>
        </div>
    </div>
</section>

<style>
    @media (max-width: 768px) {
        .mainC {
            padding-inline: 0;
        }
        
        a {
            width: 100%;
        }
    }
</style>