---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))] flex items-center justify-center">
		<Header/>
		<main class="mx-auto">
			<slot />
		</main>
	</body>
</html>
<style is:global>
	html {
		color-scheme: light;
		background: #0a0a0a;
		scroll-behavior: smooth;
		overflow-x: hidden;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	section {
		margin-top: 100px;
	}

	main {
		max-width: 72rem;
	}

	.animated {
        view-timeline-name: --image;
        view-timeline-axis: block;
        animation-timeline: --image;
        animation-name: show;
        animation-range: entry 25% cover 30%;
        animation-fill-mode: both;
    }

	.animated-2 {
        view-timeline-name: --image;
        view-timeline-axis: block;
        animation-timeline: --image;
        animation-name: show-2;
        animation-range: entry 25% cover 30%;
        animation-fill-mode: both;
    }

	.animated-3 {
        view-timeline-name: --image;
        view-timeline-axis: block;
        animation-timeline: --image;
        animation-name: show-3;
        animation-range: entry 25% cover 30%;
        animation-fill-mode: both;
    }

	@media screen and (max-width: 1190px) {
        main {
			max-width: 60rem;
		}
    }

	@media screen and (max-width: 585px) {
        main {
            max-width: 20rem;
        }
    }

	@keyframes show {
        from {
            opacity: 0;
            scale: 25%;
        }
        to {
            opacity: 1;
            scale: 100%;
        }
    }

	@keyframes show-2 {
        from {
            opacity: 0;
            transform: translateX(-100px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

	@keyframes show-3 {
        from {
            opacity: 0;
            transform: translateX(100px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
</style>
